* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-image: linear-gradient(to right, rgb(133, 125, 235), rgb(48, 34, 238));
    text-align: center;
    height: 50px;
}

/* pg title in the header */
.pagetitle {
    padding-left: 30%;
    padding-top: 7px;
}

/* container with city weather search */
.searchcontainer {
    width: 270px;
    height: auto;
    margin-top: -360px;
}

.maincontainer {
    margin-top: 130px;
    width: auto;
    position: fixed;
}

/* city weather search title */
.search-title {
    margin-left: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* city weather search input */
input {
    border: darkgray solid 1px;
    border-radius: 4px;
    padding: 9px 9px;
    width: 260px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
}

/* city weather search button */
.search-button {
    color: white;
    background-color: blue;
    opacity: 0.5;
    padding: 7px 110px;
    border-radius: 4px;
    border: none;
    margin-left: 5px;
}

/* container where search history will populate */
#searchHistory {
    margin-left: 1%;
    margin-top: 10px;
    border-top: 1px solid rgb(161, 159, 159);
    width: 98%;
}

/* buttons from previous history under search  */
#searchHistory button {
    background-color: rgb(161, 159, 159);
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
    width: 100%;
    padding: 7px 110px;
    border-radius: 4px;
    margin-left: 3px;
    text-align: center;
    display: inline;
}

/* container on the top with todays weather */
.todays-weather {
    border: 1px solid black;
    width: 645px;
    height: 150px;
    margin-top: -112px;
    margin-left: 300px;
    margin-bottom: 20px;
}

/* container containing 5 day forecast */
.forecast {
    padding-left: 300px;
}

/* title for 5 day forecast container */
#dayForecast {
    text-align: left;
}

/* continer where 5 day forecast weather populates */
#weatherContainer {
    height: auto;
    width: auto;
}

/* weather container for the individual days weather */
.icons {
    display: inline-block;
    color: white;
    background: rgb(1, 1, 57);
    height: 140px;
    width: 115px;
    margin: 5px;
    border: 1px solid black;
}

/* weather container for all 5 days of weather */
#iconsContainer {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    display: inline;
}

/* individual day weather for todays weather */
#day1 {
    padding-top: 5px;
    text-align: left;
    margin-left: 5px;
    font-size: 22px;
}

/* individual day weather for 5 day forecast */
#day1,
#day2,
#day3,
#day4,
#day5,
#day6 {
    text-align: left;
    margin-left: 5px;
}


/* weather data for today in top container */
.todaysweatherdata {
    font-size: 14px;
    padding-left: 5px;
}

.day1imgClass {
    margin-top: -43px;
    margin-left: 110px;
}

/* weather img for the days weather */
.imgClass {
    height: 50px;
    width: 50px;
}

/* date for the weather being displayed */
.weather {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

/* temperature values */
.tempValues {
    text-align: left;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
}

/* wind values */
.windValues {
    text-align: left;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
}

/* humidity values  */
.humidityValues {
    text-align: left;
    font-size: 12px;
    display: inline-block;
    width: auto;
    margin-left: 5px;
}